@import "../../styles/GlobalVariablesScss.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";


.item {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $font-normal;
  font-weight: 400;
  background-color: $background-three2;
  letter-spacing: 0.25px;

  .cardBody {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $font-normal;
    font-weight: 400;

    &__sectionBack {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      background-color: $background-three;
      height: 60px;
      margin: 0;
      padding: 0 1rem;
      border: 0;
      color: $text-color-one;

      &__p {
        height: fit-content;
        margin: 0;
        padding: 0rem 0.75rem;

        p {
          margin: 0;
          padding: 0;
          border: 0;
        }
      }

      &__button {
        font-family: $font-normal;
        padding: 0.75rem 1.75rem;
        border: $border-color-two;
        color: $text-color-two;
        border-radius: $border-radius-button;
        background: $background-five;
        transition: all 0.3s ease-in-out;
        font-size: 1rem;
        font-weight: 700;

        &:hover {
          color: $text-color-one;
          background-color: $color-zero;
          border: $border-color-one;
        }
      }
    }


    &__sectionTittle {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      margin: 0;
      padding: 0 1rem;
      border: 0;
      background: $background-three;
      color: $text-color-one;

      &__img {
        width: 15px;
        height: 15px;
      }

      &__p {
        height: fit-content;
        margin: 0;
        padding: 0rem 0.75rem;

        p {
          margin: 0;
          padding: 0;
          border: 0;
        }
      }

      &__pLoc {
        display: flex;
        gap: 0.33rem;

        p {
          margin: 0;
          padding: 0;
          border: 0;
        }
      }

      &__pRated {
        p {
          font-size: 1.15rem;
          color: white;
          font-family: $font-normal;
          font-weight: 400;
          margin: 0;
          padding: 0;
          border: 0;
        }

        span {
          color: white;
          font-family: $font-bold;
          font-weight: 700;
        }
      }

    }

    &__sectionIcons {
      margin: 1rem 3rem;
      border: 0;
      display: flex;
      gap: 1rem;

      &__img {
        width: 20px;
        height: 20px;
        padding: 0.25rem;
        border-bottom: 4px solid $background-three2 ;
      }

      &__img:hover {
        border-bottom: 4px solid red;
      }
    }

    &__sectionGallery {
      width: 100%;
      height: fit-content;
    }

    &__sectionDescription {
      margin: 0 3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-items: center;

      &__lines {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
      }
    }

    &__sectionCharacteristics {
      margin: 0 3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-items: center;

      &__lines {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
      }
    }
  }

  .sectionPolitic {

    display: flex;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    border: 0;

    p {
      margin: 0;
      padding: 0;
      border: 0;
    }

    .buttonPolitic {
      font-family: $font-normal;
      padding: 0rem 0.5rem;
      border: 0;
      border-bottom: 3px solid rgb(134, 156, 130);
      color: $text-color-two;
      border-radius: $border-radius-button;
      background: none;
      transition: all 0.3s ease-in-out;
      font-size: 1rem;
      font-weight: 700;
      margin-left: 1rem;

      &:hover {
        color: $text-color-one;
        background-color: $color-zero;

      }
    }
  }

  .sectionPoliticClose {

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;

    p {
      font-size: 1.15rem;
      font-family: $font-normal;
      font-weight: 400;
      font-style: oblique;
      margin: 0 2.5%;
      padding: 0.5rem 0;
      border: 0;
    }

    .buttonPolitic {
      width: fit-content;
      font-family: $font-normal;
      padding: 0rem 0.5rem;
      border: 0;
      border-bottom: $border-one-side;
      color: $text-color-two;
      border-radius: $border-radius-button;
      background: $background-five;
      transition: all 0.3s ease-in-out;
      font-size: 1rem;
      font-weight: 700;
      margin-left: 1rem;

      &:hover {
        color: $text-color-one;
        background-color: $color-zero;
        border-bottom: $border-one-side;
      }
    }
  }
}