@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Tipografia
$font-normal: 'Atkinson Hyperlegible', sans-serif;
$font-bold: 'Poppins', sans-serif;

// Cores
$text-color-one: #FFFFFE;
$text-color-two: #3f4531;
$text-color-three: #fffffe;

$border-color-zero: none;
$border-color-one: 1px solid #333333;
$border-color-two: 1px solid #3f4531;
$border-color-three: 1px solid #499167;
$border-one-side: #3f4531 4px groove;
$border-box-shadow-one: 2px 2px 3px #3f4531;

$color-zero: #3a7d56;
$color-one: #3f4531;
$color-two: #499167;
$color-three: #333333;

$border-radius: 0.75rem;
$border-radius-card: 0.75rem;
$border-radius-img: 0.75rem;
$border-radius-button: 0.75rem;

$background-zero: #fffff3;
$background-one: #fffffe;
$background-three: #499167;
$background-three2: #f0fbf5;
$background-four: #333333;
$background-five: #FFFFF8;