@import "../../styles/GlobalVariablesScss.scss";

.sectionRegisterValidation {
  width: 100%;
  min-height: 80vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  font-family: $font-bold;
  font-weight: 700;

  h1 {
    font-family: $font-bold;
    font-weight: 700;
    color: $color-two;
    padding: 0;
  }

  .formRegisterValidation {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;

    .formError,
    input.formError {
      background: rgb(250, 202, 202);
    }

    input.formError:focus {
      background: rgb(250, 202, 202);
    }

    span.formError {
      margin: 0 5%;
      background: none;
      padding: 0;
      border: 0;
      margin-top: 0rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      text-align: center;
      background-color: none;
      color: rgb(249, 95, 95);
    }


    .buttonRegister {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.75rem;
      padding-top: 1.5rem;
      text-decoration: none;
    }

    h1 {
      margin: 0;
      padding-bottom: 2rem;
      letter-spacing: 1px;
      font-size: 2rem;
      color: $color-two;
    }

    .completeName {
      width: 27.20%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      gap: 0.75rem;

      &__labelInput {
        display: flex;
        flex-direction: column;


        label {
          width: 50%;
          text-align: start;
          margin-bottom: 0.25rem;
          color: $color-three;
          padding-left: 1rem;
        }

        input {
          border: $border-color-three;
          padding: 0.5rem;
          width: 70%;
          padding-right: 3rem;
          border-radius: 0.33rem;
          margin-bottom: 0.5rem;
        }
      }
    }


    .fieldLabelInput {
      width: 50%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;

      label {
        text-align: start;
        width: 50%;
        margin-bottom: 0.25rem;
        color: $color-three;
      }

      input {
        border: $border-color-three;
        padding: 0.5rem;
        padding-right: 1.5rem;
        width: 50%;
        border-radius: 0.33rem;
        margin-bottom: 0.5rem;
      }
    }

    .buttonSubmit {
      text-decoration: none;
      padding: 1rem 3rem;
      border: $border-color-two;
      color: $text-color-two;
      border-radius: $border-radius-button;
      background: $background-one;
      transition: all 0.3s ease;
      margin-top: 0.5rem;

      font-family: $font-bold;
      font-size: 1rem;
      font-weight: 700;

      &:hover {
        color: $text-color-one;
        background-color: $background-three;
        border: $border-color-one;
      }
    }

    .buttonRegister a {
      letter-spacing: 0.25px;
      color: $color-two;
      text-decoration: none;
    }
  }

}

@media(max-width: 1024px) {
  .sectionRegisterValidation {
    .formRegisterValidation {
      .completeName {
        width: 28.25%;

        &__labelInput {
          input {
            padding-right: 1.85rem;

          }
        }
      }
    }
  }
}

@media(max-width: 850px) {
  .sectionRegisterValidation {
    .formRegisterValidation {

      h1 {
        padding-bottom: 0.5rem;
      }

      .buttonRegister {
        padding-top: 0.5rem;
      }

      .completeName {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 0;

        &__labelInput {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          label {
            text-align: start;
            width: 50%;
            margin-bottom: 0.25rem;
            color: $color-three;
          }

          input {
            border: $border-color-three;
            padding: 0.5rem;
            padding-right: 1.5rem;
            width: 50%;
            border-radius: 0.33rem;
            margin-bottom: 0.5rem;
          }
        }
      }

      .fieldLabelInput {
        width: 100%;

        label {
          padding-left: 1rem;
          width: 50%;
        }

        input {
          width: 50%;
          margin-bottom: 0.5rem;
        }

      }
    }
  }
}

@media(max-width: 550px) {
  .sectionRegisterValidation {
    .formRegisterValidation {


      h1 {
        padding-bottom: 0;
      }

      .buttonRegister {
        padding-top: 0.5rem;
      }

      .completeName {

        &__labelInput {
          width: 100%;

          label {
            width: 75%;
          }

          input {
            width: 75%;
          }
        }
      }

      .fieldLabelInput {
        width: 100%;


        label {
          width: 75%;
        }

        input {
          width: 75%;
        }
      }
    }
  }
}