@import "../../styles/GlobalVariablesScss.scss";

.sectionLoginValidation {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  font-family: $font-bold;
  font-weight: 700;

  // height: 79.779vh;
  // border-top: 1px solid rgb(156, 176, 150);
  // border-bottom: 1px solid rgb(156, 176, 150);

  h1 {
    color: $color-two;
  }

  .buttonRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
    text-decoration: none;
  }

  .formLoginValidation {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 1.5rem;

    .formError,
    input.formError {
      background: rgb(250, 202, 202);
    }

    input.formError:focus {
      background: rgb(250, 202, 202);
    }

    span.formError {
      margin: 0 5%;
      background: none;
      padding: 0;
      border: 0;
      margin-top: 0.25rem;
      font-size: 1rem;
      text-align: center;
      background-color: none;
      color: rgb(249, 95, 95);
    }

    h1 {
      margin: 0;
      padding-bottom: 2rem;
      letter-spacing: 1px;
      font-size: 2rem;
      color: $color-two;
    }

    .fieldLabelInput {
      width: 50%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      margin-bottom: 0.5rem;

      label {
        text-align: start;
        width: 50%;
        margin-bottom: 0.25rem;
        color: $color-three;
      }

      input {
        border: $border-color-three;
        padding: 0.5rem;
        padding-right: 1rem;
        width: 50%;
        border-radius: 0.33rem;
        margin: 0;
      }
    }

    button {
      text-decoration: none;
      margin-top: 0.5rem;
      padding: 1rem 3rem;
      border: $border-color-two;
      color: $text-color-two;
      border-radius: $border-radius-button;
      background: $background-one;
      transition: all 0.3s ease;

      font-family: $font-bold;
      font-size: 1rem;
      font-weight: 700;

      &:hover {
        color: $text-color-one;
        background-color: $background-three;
        border: $border-color-two;
      }
    }
  }

  .buttonRegister a {
    letter-spacing: 0.5px;
    color: $color-two;
    text-decoration: none;
  }
}


@media(max-width: 850px) {
  .sectionLoginValidation {
    .formLoginValidation {
      .fieldLabelInput {
        width: 100%;

        label {
          width: 50%;
        }

        input {
          width: 50%;
        }
      }
    }
  }
}

@media(max-width: 550px) {
  .sectionLoginValidation {
    .formLoginValidation {
      .fieldLabelInput {
        width: 100%;

        label {
          width: 75%;
        }

        input {
          width: 75%;
        }
      }
    }
  }
}