@import "../../styles/GlobalVariablesScss.scss";


.item {
  width: 100%;
  border-radius: $border-radius;
  background: none;
  margin: 0;
  font-family: $font-normal;
  font-weight: 400;



  .cardBody {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    filter: brightness(0.9);
    transition: all 0.3s ease-in-out;
    background: $background-four;
    color: white;
    border: 2px solid $border-color-three;
    box-shadow: $border-box-shadow-one;
    border-radius: 0.5rem;
    padding: 0;

    &:hover {
      opacity: 1.1;
      filter: brightness(1.2)
    }

    a {
      text-decoration: none;

      p {
        color: white;
        font-size: 1.25rem;
        margin: 0;
        padding: 0.05rem 0;
        border: 0;
        font-weight: 400;
      }

      & p::first-letter {
        font-weight: bold;
        font-size: 1.5rem;
        color: $text-color-three;
      }

    }

    img {
      width: 100%;
      height: 200px;
      pointer-events: none;
      border-radius: $border-radius-img;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: $border-one-side;
    }
  }
}